
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


@media screen and (min-width:768px) and (max-width:1279px) {
    .burger {
        display: none;
    }
    .drop{
        display: flex;
    }
    .imgdrop{
        background-color: white;
        width: 41px;
        flex-shrink: 0;
        border: none;
        cursor: pointer;
    }

    le dernier code de navbar .navbar-nav {

        display: inline-flex !important;
        gap: 56px;
        list-style-type: none;
        margin-bottom: 0px;
        margin-right: -110px;
    }

    .navbar-nav {

        display: inline-flex !important;
        gap: 56px;
        list-style-type: none;
        margin-bottom: 0px;
        margin-right: -110px;
    }

    .navbar-nav button img {
        width: 15px;

    }

    .nav-link {
        color: black;
        text-decoration: none;
    }

    .button-serch {
        background-color: white;
        width: 41px;

        flex-shrink: 0;
        border: none;
        cursor: pointer;
    }

    .main__section_3__border {
        display: flex;
        width: 100%;
        flex-direction: row !important;
        justify-content: space-around;
        padding: 10px;

        margin-bottom: 20px;
    }

    .footer__lists {
        display: flex;
        flex-direction: row !important;

    }
}

/* version descktop */
@media screen and (min-width:1279px) {
    .drop{
        display: flex;
    }
    .imgdrop{
        background-color: white;
        width: 41px;
        flex-shrink: 0;
        border: none;
        cursor: pointer;
    }
    .burger {
        display: none;
    }

    .navbar-nav {

        display: inline-flex !important;
        gap: 56px;
        list-style-type: none;
        margin-bottom: 0px;
        margin-right: -110px;
    }

    .navbar-nav {

        display: inline-flex !important;
        gap: 56px;
        list-style-type: none;
        margin-bottom: 0px;
        margin-right: -110px;
    }

    .navbar-nav button img {
        width: 15px;

    }

    .nav-link {
        color: black;
        text-decoration: none;
    }

    .button-serch {
        background-color: white;
        width: 41px;

        flex-shrink: 0;
        border: none;
        cursor: pointer;
    }

    .main__container__content1 {

        display: flex !important;
        gap: 163px;
    }

    .main__container__content1__row {
        width: 50%;
        display: flex !important;
        flex-direction: column !important;
        padding: 0 92px !important;
        margin: 0 -14px !important;
    }

    .main__container__content1__row h1 {
        color: #094B72;
        font-family: Playfair Display;
        font-size: 71px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120% !important;
        text-align: center;
        letter-spacing: 1.46px;
    }

    .main__container__content2--img {
        margin-left: 110px;

        display: flex !important;
        width: 59% !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        padding: 10px !important;
        gap: 5px !important;
    }

    .main__container__content2--imgcomplet {
        margin-top: 80px;

        width: 34%;
        height: fit-content;
        display: flex !important;
        background: url(images/Ellipses.png) no-repeat;
        background-size: cover !important;
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .main__container__content2--imgcomplet img {
        width: 271px !important;
        height: 422px !important;
    }

    .main__section_2 {
        background: #F2F7FF;
        margin-top: -18px;
        display: flex !important;
        flex-direction: row !important;
    }

    .main__section_3__border {
        display: flex !important;
        width: 100%;
        flex-direction: row !important;
        justify-content: space-around;
        padding: 10px;
        /* gap: 450px; */
        margin-bottom: 20px;
    }

    .footer__lists {
        display: flex !important;
        flex-direction: row !important;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: calc(0.5 rem + 1.5vw);
    }

    ul li {
        list-style: none;
    }

    li a:visited {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover {
        color: #FCFCFC;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        width: 60%;


    }

    #icons {
        cursor: pointer;
        display: none;
    }

}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 29px;
}

nav {
    display: inline-flex;
    padding: 10px;
    width: 100vw;
    margin: auto;
    justify-content: space-between;
}

#icons {
    display: block;

}

#icons:before {
    content: "\2630";
}

nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background-color: skyblue;
    width: 100%;
    text-align: center;
    transition: 0.25s;
}

nav li {
    padding: 3px 0;

}

nav li:hover {
    background-color: skyblue;

}


.burger {
    width: 30px;
    height: 40px;
    background-color: white;
}

.logoserch {
    width: 20px;
    height: 40px;

}

.logosite {

    width: 85px;
    height: 30px;
}

.navbar-nav {
    display: none;
}

.navbar-nav2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s;
    position: fixed;
    top: -300px;
    /* right: 2000px; */
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
    transform: translateX(-10rem);
    list-style-type: none;
}

.navbar-nav2--active {
    transform: translate(0rem);
    transition: 0.3s;
    right: 0px;
    top:27px

}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: skyblue;
}

.button-serch {

    background-color: white;
    width: 41px;

    flex-shrink: 0;
    border: none;
    cursor: pointer;


}

.buttonclick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s;
    position: fixed;
    top: 41px;
    /* right: -152px; */
    right: -400px;
    color: #000000;
    text-decoration: none;
    transform: translateX(-10rem);
    list-style-type: none;
}

.buttonclick--active {
    transform: translate(0rem);
    transition: 0.3s;
    right: -0px;

}

.FAQ {
  display: none;
    transition: 0.3s;



    position: relative;
    right: -2000px;
    color: #000000;
    text-decoration: none;
    transform: translateX(-10rem);
    list-style-type: none;
    margin-bottom: 15px;
    background: whitesmoke;
    margin-top: -28px;
    border: solid 2px blue;
    border-top: none;
}
.FAQ--active{
    display: block;
    transform: translate(0rem);
    transition: 1.6s;
    right: -0px;

}
.serviceanddrop{
    display: flex;
}

.drop{
    display: block;
}
.listservice{
    display:none;
    transform: translate(0rem);
    transition: 1.6s;
    right: -0px;
}

.listservice--active{
    display: block;
}

#nameError {
    color: red;
    font-size: 0.7rem;
    font-family: Poppins;
    text-align: left;
    margin-left: 7.9rem;
}
#phoneError{
    color: red;
    font-size: 0.7rem;
    font-family: Poppins;
    text-align: left;
    margin-left: 7.9rem;

}
#emailError{
    color: red;
    font-size: 0.7rem;
    font-family: Poppins;
    text-align: left;
    margin-left: 7.9rem;

}
#messageError{
    color: red;
    font-size: 0.7rem;
    font-family: Poppins;
    text-align: left;
    margin-left: 7.9rem;

}
#name{
    padding: 1rem;
    border-radius: 1rem;
}
#message{
    padding: 1rem;
    border-radius: 1rem;

}
#email{
    padding: 1rem;
    border-radius: 1rem;
}
#phone_number{
    padding: 1rem;
    border-radius: 1rem;

}
.main__contact__input{
    display: flex;
    flex-direction:column;
    gap: 20px;
}















.main__container__content1__row {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;

}

.main__container__content1__row h1 {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.46px;
}

.main__container__content1__row p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    /* 45.82px */
    letter-spacing: 0.5px;
}

.main__container__content1__row button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background: #094B72;
    margin: auto;

}

.row__contact-us {
    width: 118px;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    /* 22.48px */
    letter-spacing: 1.28px;

}

.main__container__content2--img {

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
}

.main__container__content2--imgcomplet {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    background: url(images/Ellipses.png) no-repeat;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.main__container__content2--imgcomplet img {

    width: 190px;
}


.main__container__content2--carte-id {
    display: flex;
    flex-direction: column;
    line-height: 0%;
    box-shadow: 5px 5px 5px black;
    width: 192px;
    height: 84px;
    border-radius: 10px;
    background: #FFF;
    text-align: center;
}

.main__container__content2--carte-id h3 {
    text-align: center;
    color: #33475B;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 10%;

}

.main__container__content2--carte-id p {
    color: #87898C;

    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.main__section_2 {
    background: #F2F7FF;
    margin-top: -18px;
    display: flex;
    flex-direction: column;


}

.main__section_2__text h2 {
    padding-top: 10px;
    text-align: center;
    color: var(--neutral-grey-7, #2D2F30);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.323px;
}

.main__section_2__text p {
    color: var(--neutral-grey-5, #8B8C8C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 156.522% */
    letter-spacing: 0.5px;
    text-align: center;
}

.main__section_2__text__h2__p {
    padding: 0px 57px;
}

.main__section_2__ourservice {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 22px;
    margin-bottom: 20px;
}

.main__section_2__ourservice-- {
    border-radius: 8px;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 236px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    height: 271px;

    margin-top: 30px;
}

.main__section_2__ourservice-- p {
    color: var(--neutral-grey-5, #8B8C8C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.3px;
}

.main__section_2__ourservice--:hover {
    background-color: #094B72;
}

.main__section_3 {
    margin-top: -37px;
}

.main__section_3__text h3 {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: 0.24px;
    padding: 0px 10px;
}

.main__section_3__text p {
    margin-top: -35px;
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    letter-spacing: 0.5px;
}

.main__section_3__border {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    /* gap: 450px; */
    margin-bottom: 20px;
}


.main__section_3__border-- {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    /* height: 271px; */
    text-align: center;
}

hr {
    display: none;
    box-sizing: content-box !important;
    height: 80px !important;
    overflow: visible;
}

.main__section_3__border--__p {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    /* 133.333% */
}

.main__section_3__border-- p {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    letter-spacing: 0.05
}

.main__section_3__border--__ptwo {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    /* 133.333% */
    margin-left: 45px;
}

.main__section_4 {
    background: #F2F7FF;
    margin-top: -17px;
}

.main__section_4__title {
    padding-top: 17px;
    margin-top: 0px;
    color: var(--neutral-grey-7, #2D2F30);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: 0.5px;

}

.main__section_4__comment {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 82px;
    margin-bottom: 20px;

}

.main__section_4__comment--text {
    border-radius: 8px;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 315px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    height: 271px;
    margin-top: 30px;



}

.main__section_4__comment--img {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

.main__section_4__comment--text p {
    /* margin: 23px; */
    color: var(--neutral-grey-6, #4F4F4F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.5px;
}

.main__section_4__comment--text h3 {


    color: var(--neutral-grey-8, #151617);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.triangle__1 {
    box-shadow: 0px 1px 5px black;
    margin-left: 120px;
    margin-top: -20px;
    width: 50px;
    height: 40px;
    background-color: white;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
}

.triangle__2 {
    box-shadow: 0px 1px 5px black;
    margin-left: 125px;
    margin-top: -20px;
    width: 50px;
    height: 40px;
    background-color: white;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
}

.main__container__question {
    margin-bottom: 43px;
    padding-left: 81px;
    background: var(--neutral-white, #FFF);

}

.main__container__question h4 {
    padding-right: 50px;
    color: var(--neutral-grey-7, #2D2F30);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: 0.5px;
    height: 82.192px;
}

.main__container__question button {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 170px;
    height: 64px;
    border-radius: 8px;
    background: #094B72;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 6px;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 163.636% */
    letter-spacing: 0.5px;
}

.main__container__question p {
    padding-right: 49px;
    /* margin-left: 26px !important; */
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 150% */
    letter-spacing: 0.5px;

}

footer {
    background-color: #094B72;
}

.footer__logo__lists {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
}

.footer__logo p {
    margin-top: 14px;
    margin-left: 9px;
    width: 100px;
    height: 20px;
    flex-shrink: 0;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    /* 104.545% */
    letter-spacing: 1.5px;
}

.footer__logo img {
    width: 34px;
    height: 44px;
}

.footer-link {

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-footer {
    list-style-type: none;
    margin-left: -35px !important;
    line-height: 38px;
}

.footer__lists {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    /* gap: 183px; */
    margin-bottom: 20px;
}

.footer__list__ {


    display: flex;
    width: 236px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    margin-top: -20px;
}

.footer__lists h4 {
    color: #000000;
    /* Choisissez une couleur de texte plus foncée */
    background-color: #ffffff;
    /* Conservez la couleur de l'arrière-plan si elle convient */
    font-size: 25px;
    /* Ajustez la taille de la police si nécessaire */
    font-weight: normal;
    background-color: #094B72;
    color: white;
}

.footer__last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
}

.footer__last p {
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.main__about__container {
    width: 100vw;
    background-color: #B7E0F2;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;

}

.main__about__container--content1 {

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 22px;
    margin-bottom: 20px;
    text-align: center;

}

.main__about__container--content1 h2 {
    color: #094B72;
    text-align: center;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    /* 108px */
    letter-spacing: 1.8px;

}

.main__about__container--content1 h3 {
    margin-top: 6px;
    color: #094B72;
    text-align: center;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    /* 108px */
    letter-spacing: 1.8px;
}

.main__about__container--content1 p {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    /* 41.08px */
    letter-spacing: 0.5px;
}

.main__about__container--content1 button {
    border-radius: 8px;
    background: #094B72;
    padding: 0 20px;
    height: 62.251px;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    margin: auto;
}

.main__about__container--content2 {
    display: flex;

}

.main__about__container--content2 img {
    width: 40vw;
    margin: auto;
    height: 280.442px;
    display: flex;
    justify-self: center;

}

.main__section__about__FAQ {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}

.burger__question {
    text-align: center;
    width: 30px;
    height: 40px;
    background-color: white;


}

.main__section__about__FAQ h2 {
    margin-top: 6px;
    color: #094B72;
    text-align: center;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    /* 108px */
    letter-spacing: 1.8px;
}

.FAQ__questions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;

}

.FAQ__question {
    box-shadow: 0px 2px 17px 3px #0000ff52;
    margin: auto;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}

.FAQ__question span {
    margin-left: 16px;
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    /* 45.82px */
    letter-spacing: 0.5px;
}

.FAQ__questions .box {
    margin: auto;
    width: 80%;
}

.main__service__container1 {
    text-align: center;
    padding-bottom: 14px;
}

.main__service__container1__content1--img img {
    display: none;
}

.main__service__container1 h2 {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.46px;
    padding: 0px 50px;
}

.main__service__container1__content1--p p {
    padding: 0px 20px;
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
}

.main__service__container1__content1--b button {
    color: #F9F8F9;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background: #094B72;
    margin: auto;
}

.main__service__container2 {
    background: #F2F7FF;
    display: flex;
    flex-direction: column;
}

.main__service__container2 h2 {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.46px;
    padding: 0px 50px;
}

.main__service__container2__services {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 22px;
    margin-bottom: 20px;
}

.main__service__container2__service {
    text-align: center;
    max-width: 349px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin-top: 30px;
}

.main__service__container2__service--content {
    border-radius: 10px;
    box-shadow: -1px -1px 16px 2px #0000ff2b;
    background-color: white;
    padding-top: 11px;
}

.main__service__container2__service--content p {
    padding: 10px;
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.5px;
}

.main__service__container2__service--content:hover {
    background-color: #a0b6ff9e;
}

.main__contact__title {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    letter-spacing: 1.46px;

}

.map img {
    margin-left: 9%;
    height: 46vh;
    width: 80vw;
}

.main__contact__input {
    text-align: center;

}

.main__contact__input-- {
 
    border: none;
    background-color: #e7e7e7;
    /* background-color: darkgoldenrod; */
    width: 80%;
    height: 50px;
}

.main__contact__button button {
    margin-bottom: 17px;
    color: #F9F8F9;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background: #094B72;

}

.main__contact--i--b {

    text-align: center;
}
.input-error{
    border: solid 2px red;
 
   
}
.input-valid{
    border: solid 2px green;
    
   
}